<div class="back-square">
  <div  class="content">
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>Log in</h1>
        </div>
        <!-- <p class='msg'>Welcome back</p> -->
        <div class='form'>
          <form>
        <input type="text" placeholder='User Name' class='text' id='username' required><br>
        <input type="password" placeholder='Password' class='password'><br>
        <a href="#" class='btn-login' id='do-login'>Log in</a>
        <br>
        <br>
        <a href="#" class='forgot'>Forgot Password?</a>
          </form>
        </div>
      </section>
    </div></div>

  
  
